body {
    background: url(../images/giftunesbackground.jpg) no-repeat top center;
    background-size: 100%;
    /* background: black; */
}
.header{
    background-color: rgb(165, 129, 199);
    height: 80px;
    z-index: 1010;
}
h1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1010;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

/* .logo {
    margin-left: 120px;
}

nav {
    position: fixed !important;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    color: blueviolet;
}

nav.scroll {
    background-color: black;
    color: #eef;
    z-index: 1010;
  }


#navbarDropdownMenuLink {
    margin-right: 150px;
}

.nav-link {
    margin: 20px;
    color: blueviolet !important; */
}

.wrapper {
    text-align: center;
}
.container-fluid{
    margin-top: 140px;
}
.emblem{
    margin-left: 240px;
    margin-top: 180px;

}
button {
    margin: 10px;
    padding: 15px;
    background-color: transparent;
    color: blueviolet;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    border-style: solid magenta 10px;
    border
}

#submit-mood-button {
    background-color: transparent;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    border-style: solid white 3px;
}

#buttons-area {
    margin-left: 80px;
    align-self: auto;
    /* height: 120px; */
    margin-top: 30px;
    /* margin-bottom: 30px; */
}
.output-area{
    margin-top: 200px;

}
#mood-input {
    height: 50px;
    width: 250px;
    border-radius: 20px;
    margin-left: 480px;
}

#gif-area {
    margin-left: 95px;
    height: 480px;
    margin-bottom: 20px;
}

#music-area {
    height: 480px;
    margin-left: 38px;
    margin-bottom: 20px;
}

#share-area {
    margin-left: 80px;
    align-self: auto;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}


footer {
    text-align: center;
    padding: 20px;
    width: auto;
    bottom: 0;
    position: relative;
}