body{
    background: url(../images/papers.co-va21-smooth-rainbow-floor-pattern-8-wallpaper.jpg) no-repeat top center;
}
.logo{
    margin-left: 120px;
}
.navbar{
    background-color: white;
}
#navbarDropdownMenuLink {
    margin-right: 150px;
}

.nav-link{
    margin: 20px;
}
.wrapper {
    text-align: center;
}
button{
    /* margin: 10px; */
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    border-style: solid white;
    /* margin-inline-start: 100px;
    margin-inline-end: 80px;
    margin-top: 20px; */
}
#buttons-area {
    margin-left: 80px;
    align-self: auto;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#gif-area {
    margin-left: 95px;
    height: 480px;
    margin-bottom: 20px;
}
#music-area{
    height: 480px;
    margin-left: 38px;
    margin-bottom: 20px;
}

#share-area {
    margin-left: 80px;
    align-self: auto;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    text-align: center;
    padding: 20px;  
    width: auto;
    bottom: 0;
    position: relative;
}